body {
  background: url("./background.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  transition: background 0.5s;
}

.dark-mode {
  background: url("./background_dark.jpg");
  background-size: cover;
  color: rgb(136, 134, 134);
}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.dark-mode button {
  background-color: rgb(136, 134, 134);
  color: black;
}

button:hover {
  background-color: rgb(107, 103, 96);
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #003f7f;
  transform: scale(1);
  box-shadow: none;
}

#board {
  height: 532px;
  width: 475px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 4px solid black;
}

.card {
  height: 128px;
  width: 90px;
  margin: 2.5px;
}

h3 {
  position: absolute;
  top: 10%;
  left: 10%;
}

#best-score-delete {
  position: absolute;
  top: 20%;
  left: 8%;

}

#created-by {
    position: fixed;
    bottom: 1%;
    left: 1%;
}
